services:
  prod:
    image: iwinter78/microblog:1.0.0-prod
    build:
      context: .
      dockerfile: docker/Dockerfile_prod
    depends_on:
      - prod-database
    ports:
      - "5000:5000"

  prod-database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: microblog
      MYSQL_USER: microblog
      MYSQL_PASSWORD: microblog
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  test:
    image: iwinter78/microblog:1.0.0-test
    build:
      context: .
      dockerfile: docker/Dockerfile_test
    depends_on:
      - test-database
    volumes:
      - ./app:/home/microblog/app
      - ./migrations:/home/microblog/migrations
    ports:
      - "5000:5000"

  test-database:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: microblog_test
      MYSQL_USER: microblog
      MYSQL_PASSWORD: microblog
    ports:
      - "3307:3306"

volumes:
  db_data: