services:
  dbserver:
    image: mysql/mysql-server:5.7
    container_name: dbserver
    restart: always
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: "microblog"
      MYSQL_USER: "microblog"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    volumes:
       - mysql_data:/var/lib/mysql
    networks:
      - microblog-net

  prod:
    image: abedsandeed/microblog:1.0.0-prod
    container_name: microblog-prod
    restart: always
    environment:
      SECRET_KEY: "${SECRET_KEY}"
      DATABASE_URL: "mysql+pymysql://microblog:${MYSQL_PASSWORD}@dbserver/microblog"
    ports:
      - "5000:5000"
    depends_on:
      - dbserver
    networks:
      - microblog-net

networks:
  microblog-net:

volumes:
  mysql_data:
