version: 2.1

jobs:
  test:
    docker:
      - image: circleci/python:3.7

    steps:
      - checkout
      - run:
          name: Install dev dependencies
          command: |
            . venv/bin/activate
            make install-dev
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test

workflows:
  main:
    jobs:
      - test
