# This workflow will run docker file for tests by running "make test" command.

name: Ci

on:
  push:
    branches: [ "feature/docker-prod" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v4

        - name: Build and run docker-compose test service
          run: |
            docker compose -f docker-compose.yml up \
            --build \
            --abort-on-container-exit \
            --exit-code-from test