name: Run Docker Tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build and run tests with Docker Compose
        run: docker-compose -f docker-compose.yml run test
